* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  height: 100%;
  background-color: #0d4479;
  padding: 40px;
  background-image: url(./assets/bg-triangles.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
}

#app::after {
  content: "";
  background-image: url("./assets/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.column-container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.test-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-container {
  display: flex;
  width: 100%;
}
.result-column {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
